* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  background-color: #000 !important;
}

.page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
}

.who {
  flex-grow: 1;
  display: flex;
}

h2 {  
  font-size: 18px;
}

.container {
  align-items: center ;
  /*for IE*/
}

footer {
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: black;
  color: #fff;
}

.col {
  text-align: center;
}
@media (min-width: 1080px) {
  img {
    width: 300px;
    height: 300px;
  }
  .row {
    width: 100%;
  }  
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar {
    position: relative;
  }
  .container {
    align-items: normal ;
    /*for IE*/
  }
  img {
    width: 250px !important;
    height: 250px !important;
  }

  h1 {
    
    font-size: 24px;
  }

  h2 {
    
    font-size: 20px;
  }

  .col,.col-sm-6{
    margin-top: 20px;
    text-align: center ;
  }
}